h1,p{
    color: black;
    font-weight:600;
}

.inner-welcome-image{
    border-radius: 16px;
    padding-top: 100px;
    padding-left: 30px;
    position: relative;
} 

.header-image{
    width: 85%;
    height: 550px;
    border-radius: 50px;
    position: absolute;
}

.inner-welcome-image p{
  width: 70%;

}


.About-Hotels{
    margin-top: 500px;
    margin-bottom:300px ;
    position: relative;
}
